@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/variables.css);

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 0;
}
